.coin_edit_form {
  width: 100%;
}
.coin_edit__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
  border: 1px solid red;
  width: 100%;
  padding-bottom: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 4);
  border: 0.1rem solid transparent;
  border-bottom-color: rgba(
    var(--color-emperor-r),
    var(--color-emperor-g),
    var(--color-emperor-b),
    0.2
  );
}
.coin_edit_form__row {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing) * 2);
}
.coin_edit_form__row_date {
  margin-top: calc(var(--spacing) * 4);
}
.coin_edit_form__field_name {
  width: 100%;
}

.coin_edit_form__footer {
  display: flex;
  justify-content: flex-end;
}
.coin_edit_form__footer__button {
  width: auto;
  background-color: var(--color-gold);
  color: var(--color-coal);
  border: none;
}
.coin_edit_form__dropdown {
  position: absolute;
  opacity: 0;
}
.coin_edit_form__dropdown__list {
}

.coin_edit_form__dropdown__item {
  display: flex;
  align-items: center;
  padding: 0 !important;
  border: 0.1rem solid transparent;
  border-color: var(--color-emperor);
  height: 6.4rem;
  white-space: normal;
}
.coin_edit_form__dropdown__item img {
  width: 4rem;
  margin-right: 1.6rem;
}
.coin_edit_form__dropdown__item label {
  width: 100%;
  height: 100%;
  padding: calc(var(--spacing) * 2);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
.coin_edit_form__dropdown__item input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.coin_edit_form__field_price input {
  padding: 0;
}
