.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
}

.header__left__title {
  position: relative;
  margin-left: calc(var(--spacing) * 4);
}

.header__left__title::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 0.2rem;
  display: block;
  width: 100%;
  background: linear-gradient(90deg, var(--color-gold), transparent);
}

.header__button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  background-color: #202122;
  border: 0;
}
