.toasts {
  position: fixed;
  bottom: 0;
  left: 0;

  margin-bottom: calc(var(--spacing) * 6.5);
  margin-left: calc(var(--spacing) * 6);

  z-index: var(--z-index-toasts);
  width: 100%;
}

.toasts__toast {
  margin-top: 2rem;
}
